<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("includes/head") %>
  
    <section class="container">
      <h1>Lorem Ipsum</h1>

      <form action="/" method="POST">
        <label>Cliente</label>
        <input type="text" name="cliente" />
        <button type="submit">Submit</button>
      </form>
    </section>

    <script src="./assets/js/bundle.js"></script>
  </body>
</html>
